* {
	box-sizing: border-box;
}
html {
	width: 100%;
}
body {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1em;
	width: 70%;
	height: 100%;
	margin: 0 auto;
	background: $bg-color;
}
a {
	text-decoration: none;
}
.cfx:after {
	content: "";
	display: table;
	clear: both;
}
